name = "pollinations-enter"
main = "src/index.ts"
compatibility_date = "2025-09-01"
compatibility_flags = [ "nodejs_compat", "nodejs_als" ]

[dev]
port = 3000

[triggers]
crons = [ "* * * * *" ] # every minute

[assets]
directory = "dist/client"
not_found_handling = "single-page-application"
run_worker_first = [ "/api/*" ]

[[d1_databases]]
binding = "DB"
database_name = "development-pollinations-enter-db"
database_id = "6345cb3c-e57a-4aab-bdd4-bca0de7bd930"
migrations_dir = "drizzle"

[[kv_namespaces]]
# development-pollinations-enter-kv
binding = "KV"
id = "aa0d0aceb6bd45de93032270c7adf4ab"

[vars]
ENVIRONMENT = "development"
ALLOW_ANONYMOUS_USAGE = true
POLAR_SUCCESS_URL = "http://localhost:3000"
POLAR_SERVER = "sandbox"
TINYBIRD_INGEST_URL = "http://localhost:7181/v0/events?name=generation_event"


[[env.staging.routes]]
pattern = "enter.pollinations.ai"
zone_name = "pollinations.ai"
custom_domain = true

[[env.staging.d1_databases]]
binding = "DB"
database_name = "staging-pollinations-enter-db"
database_id = "073195b4-d99e-4b67-9575-eb5efe6d3234"
migrations_dir = "drizzle"

[[env.staging.kv_namespaces]]
# staging-pollinations-enter-kv
binding = "KV"
id = "eb4ea5149a5a413db53902bf2b8c1d95"

[env.staging.vars]
ENVIRONMENT = "staging"
ALLOW_ANONYMOUS_USAGE = false
POLAR_SUCCESS_URL = "https://enter.pollinations.ai"
POLAR_SERVER = "sandbox"
TINYBIRD_INGEST_URL = "https://api.europe-west2.gcp.tinybird.co/v0/events?name=generation_event"


[env.production]
route = { pattern = "beta.pollinations.ai/*", zone_name = "pollinations.ai" }

[[env.production.d1_databases]]
binding = "DB"
database_name = "production-pollinations-enter-db"
database_id = "8d72ead0-f47a-43b2-9a91-2318b89f1561"
migrations_dir = "drizzle"

[[env.production.kv_namespaces]]
# production-pollinations-enter-kv
binding = "KV"
id = "80bcce9c87914d9f814cc6522e935f41"

[env.production.vars]
ENVIRONMENT = "production"
ALLOW_ANONYMOUS_USAGE = false
POLAR_SUCCESS_URL = "https://enter.pollinations.ai"
POLAR_SERVER = "production"
TINYBIRD_INGEST_URL = "https://api.europe-west2.gcp.tinybird.co/v0/events?name=generation_event"


[env.test]

[[env.test.d1_databases]]
binding = "DB"
database_name = "development-pollinations-enter-db"
database_id = "6345cb3c-e57a-4aab-bdd4-bca0de7bd930"
migrations_dir = "drizzle"

[[env.test.kv_namespaces]]
# development-pollinations-enter-kv
binding = "KV"
id = "aa0d0aceb6bd45de93032270c7adf4ab"

[env.test.vars]
ENVIRONMENT = "test"
ALLOW_ANONYMOUS_USAGE = true
GITHUB_CLIENT_ID = "test_github_client_id"
GITHUB_CLIENT_SECRET = "test_github_client_secret"
POLAR_ACCESS_TOKEN = "test_polar_token"
POLAR_SUCCESS_URL = "http://localhost:3000"
POLAR_SERVER = "sandbox"
TINYBIRD_INGEST_URL = "http://localhost:7181/v0/events?name=generation_event"
