# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build directories
dist/
build/

# Vite cache
.vite/

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
*.pem
*.p12
*.key
*.crt
*.csr
*.pfx
