{
  "TINYBIRD_OPS_INGEST_TOKEN": "",
  "TINYBIRD_OPS_READ_TOKEN": "",
  "TINYBIRD_PROD_READ_TOKEN": "",
  "WISE_API_TOKEN": "",
  "WISE_BUSINESS_PROFILE_ID": "",
  "STRIPE_API_KEY": "",
  "OPENROUTER_API_KEY": "",
  "DEEPINFRA_API_KEY": "",
  "RUNPOD_API_KEY": "",
  "DIGITALOCEAN_TOKEN": "",
  "CLOUDFLARE_API_TOKEN": "",
  "CLOUDFLARE_ACCOUNT_ID": "",
  "FIREWORKS_API_KEY": "",
  "TINYBIRD_OPS_REPLACE_TOKEN": "",
  "CLOUDFLARE_MYCELI_API_TOKEN": "",
  "CLOUDFLARE_MYCELI_ACCOUNT_ID": "",
  "DAYTONA_API_KEY": "",
  "SCW_ACCESS_KEY": "",
  "SCW_SECRET_KEY": "",
  "SCW_ORGANIZATION_ID": "",
  "SCW_PROJECT_ID": "",
  "OPENAI_ADMIN_KEY": "",
  "LAMBDA_LABS_API_KEY": "",
  "ALIBABA_CLOUD_ACCESS_KEY_ID": "",
  "ALIBABA_CLOUD_ACCESS_KEY_SECRET": "",
  "ALIBABA_CLOUD_REGION": "",
  "AZURE_CLIENT_ID": "",
  "AZURE_TENANT_ID": "",
  "AZURE_CLIENT_SECRET": "",
  "AZURE_SUBSCRIPTION_ID": "",
  "AZURE_BILLING_ACCOUNT": "",
  "AZURE_BILLING_PROFILE": "",
  "WISE_BUSINESS_EUR_BALANCE_ID": "",
  "UMBRELLA_USERNAME": "",
  "UMBRELLA_PASSWORD": "",
  "UMBRELLA_AWS_ACCOUNT_ID": "",
  "OVH_APPLICATION_KEY": "",
  "OVH_APPLICATION_SECRET": "",
  "OVH_CONSUMER_KEY": "",
  "OVH_ENDPOINT": "",
  "OPENROUTER_MANAGEMENT_API_KEY": "",
  "ELEVENLABS_API_KEY": "",
  "REPLICATE_API_TOKEN": "",
  "FAL_KEY": "",
  "PERPLEXITY_API_KEY": "",
  "VAST_API_KEY": "",
  "GCP_BILLING_SA_JSON": "",
  "POLLINATIONS_KEY": "",
  "WISE_SCA_PRIVATE_KEY": "",
  "FIREWORKS_API_KEY_NEO_GLYPH": "",
  "FIREWORKS_API_KEY_PIXELMARKET": "",
  "FIREWORKS_API_KEY_MYCELI": "",
  "ANTHROPIC_ADMIN_KEY": "",
  "XAI_MANAGEMENT_API_KEY": "",
  "CLOUDFLARE_POLLINATIONS_BILLING_TOKEN": "",
  "CLOUDFLARE_POLLINATIONS_ACCOUNT_ID": "",
  "MODAL_TOKEN_ID": "",
  "MODAL_TOKEN_SECRET": "",
  "sops": {}
}
