[Unit]
Description=LibreTranslate Service
After=network.target

[Service]
ExecStart=/home/ubuntu/pollinations/serverConfigAndScripts/libretranslate-startup.sh
User=ubuntu
Restart=always

[Install]
WantedBy=multi-user.target