[Unit]
Description=Pollinations Image Generator Service
After=network.target

[Service]
User=ubuntu
ExecStart=/bin/bash /home/ubuntu/pollinations/serverConfigAndScripts/gpuBootstrapScript.sh
Restart=always
StartLimitIntervalSec=0
RestartSec=10

[Install]
WantedBy=multi-user.target