[Unit]
Description=Pollinations ComfyUI Service
After=network.target

[Service]
User=ubuntu
ExecStart=/bin/bash /home/ubuntu/pollinations/image.pollinations.ai/serverConfigAndScripts/comfyui-startup.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target