[Unit]
Description=Turbo Service
After=network.target

[Service]
ExecStart=/home/ubuntu/pollinations/image.pollinations.ai/serverConfigAndScripts/run_with_heartbeat.sh turbo 5003 /home/ubuntu/pollinations/image.pollinations.ai/serverConfigAndScripts/turbo-startup.sh
User=ubuntu
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target