
node_modules
.pnp
.pnp.js
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.turbo
.vercel
.next/
out/
build
dist/
npm-debug.log*
pnpm-debug.log*
.DS_Store
*.pem
.idea
