# Binary installers
Miniconda3-latest-Linux-x86_64.sh

# Test outputs
image_gen_cloudflare/output.png

# Local development files
metrics/
processed.txt
profiling.js
steps.txt
model-requests.json

# Environment variables
cloudflare-cache/.dev.vars

# Cloudflare tunnel credentials
.cloudflared/*.json
~/.cloudflared/*.json

*.sqlcredentials/
