@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(//fonts.googleapis.com/css?family=Lato);

::selection {
  background: blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: blue; /* Gecko Browsers */
}

body {
  margin: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(26, 26, 26) !important;
}

footer {
  position: fixed;
  min-width: 30%;
  border-radius: 10px 10px 0 0;
  right: 50;
  bottom: 0;
  background-color: #424242 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(255, 236, 249);
}
.MuiPaper-root {
  background-color: rgb(26, 26, 26) !important;
}
.MuiAccordionSummary-root {
  padding: 0 !important;
}
.MuiAccordionDetails-root {
  padding: 8px 0px 16px !important;
}
.MuiAccordion-root:before {
  display: none;
}
h3 {
  margin-bottom: 0;
}
h1 {
  font-size: 4rem !important;
  font-family: "Lato" !important;
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 6rem !important;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 9rem !important;
  }
}

a {
  color: whitesmoke;
  padding: 10px 0;
}

.Lato {
  font-family: "Lato" !important;
}

.MuiCardHeader-root {
  background-color: rgb(62, 0, 156) !important;
  /* background: linear-gradient(0deg, transparent 0%, rgba(62,0,156,1) 100%) !important;  */
}

.noMargin {
  margin: 0 !important;
}

error {
  color: red;
  font-weight: bold;
  font-size: large;
}

.video_container {
  width: 100%;
  min-height: 480px;
}
