@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(//fonts.googleapis.com/css?family=Lato);
@import url(//fonts.googleapis.com/css?family=Open+Sans);


@import url(//fonts.googleapis.com/css?family=DM+Sans);

@font-face {
  font-family: Leiko;
  src: url(./assets/fonts/leiko/Leiko-Regular.otf);
}
@font-face {
  font-family: Mattone;
  src: url(./assets/fonts/Mattone/Mattone-Regular.otf)
}

::selection {
  background: blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: blue; /* Gecko Browsers */
}

body {
  margin: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(255, 236, 249);
}

.MuiAccordionSummary-root {
  padding: 0 !important;
}
.MuiAccordionDetails-root {
  padding: 8px 0px 16px !important;
}
.MuiAccordion-root:before {
  display: none;
}
h3 {
  margin-bottom: 0;
}
h1 {
  font-size: 4rem !important;
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 6rem !important;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 9rem !important;
  }
}

a {
  color: whitesmoke;
  padding: 10px 0;
}

.Lato {
  font-family: "Lato" !important;
}


.noMargin {
  margin: 0 !important;
}

error {
  color: red;
  font-weight: bold;
  font-size: large;
}

.video_container {
  width: 100%;
}







.MuiBackdrop-root{
  background-color: rgba(0,0,0,0.1) !important;
}
.MuiPaper-root{
  background-color: rgba(0,0,0,0.7) !important;
}