@import url(//fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: Uncut-Sans-Variable;
  src: url(./assets/fonts/Uncut-Sans-Variable.ttf);
}
@font-face {
  font-family: Uncut Sans;
  src: url(./assets/fonts/Uncut-Sans-Variable.ttf);
}
* {
  font-family: Uncut-Sans-Variable;
}
::selection {
  background: #a4487f; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #780c52; /* Gecko Browsers */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

body {
  margin: 20px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;


}
.MuiAccordionSummary-root {
  padding: 0 !important;
}
.MuiAccordionDetails-root {
  padding: 8px 0px 16px !important;
}
.MuiAccordion-root:before {
  display: none;
}
h3 {
  margin-bottom: 0;
}

.media-container {
  height: 56.25vw;
  max-width: 100vw !important;
}
a {
  color: whitesmoke;
  padding: 10px 0;
}
.noMargin {
  margin: 0 !important;
}
error {
  color: red;
  font-weight: bold;
  font-size: large;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0) !important;
}
.MuiPaper-root {
  background-color: rgba(0, 0, 0, 0) !important;
}




@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
