@import "tailwindcss";

:root {
  --background: #f2f4f7;
  --foreground: #171717;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}